body{
    background-color: rgb(39, 187, 59);
}
.formsAll{
    margin: 10px;
}
.form{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    background-color: azure;
}
.formReg{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.form__input{
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(39, 187, 59);
    outline: none;
}

.form__label{
    font-size: 18px;
    font-weight: 600;
    color: rgb(68, 26, 14);
}
h2{
    color: rgb(68, 26, 14);   
}
.form__submit{
    width: 200px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    padding: 10px;
    color: azure;
    font-size: 15px;
    background-color: rgb(19, 201, 50);
}
.form__submit:disabled {
    opacity: 0.5;
}

.color{
    color: rgb(161, 156, 156);
}
.col{
    background-color: rgb(161, 156, 156);
}